{% extends "base.html.twig" %}

{% block title %}Opleidingen{% endblock %}

{% block body %}

    <div class="content container">
        <div class="title-box">
            <h2 class="donker-blauw" id="krijg-de-smaak">Krijg de smaak</h2>
            <h2 id="te-pakken">te pakken</h2>
        </div>
        <div class="row" id="inleiding">            
            <div class="col l6 m6 s12">
                <h5>Waarom onze horeca-opleiding werkt</h5>
                <ul>
                    <li>We werken in een oefenrestaurant. Je kookt/bedient echte klanten.</li>
                    <li>Onze instructeurs hebben jaren ervaring en leren je de kneepjes van het vak.</li>
                    <li>Onze keuken- en zaalinfrastructuur is top.</li>
                    <li>Werkzekerheid! Er zijn heel wat vacatures en we helpen je een gepaste job zoeken.</li>
                    <li>Onze opleiding is helemaal gratis. We komen tussen in kinderopvang en verplaatsingskosten.</li>
                </ul>                
            </div>
            
        </div>
        

        <div id="job-zaal">
            <div class="row">
                <div class="col s12 m6 l6">
                    <div class="title-box left">
                        <h3 id="proef">Proef</h3>
                        <h3 id="van-een-job">van een job in de zaal!</h3>
                    </div>
                </div>
                
            </div>

            <div class="row">
                <div class="col s12 m6 l6">
                    <p>
                        Hou je ervan om mensen zich helemaal thuis te laten voelen op restaurant? Wil je samen met je collega's je klanten een aangename tijd bezorgen? Dan is een zaalopleiding zeker iets voor jou!
                    </p>
                    <p>
                        In deze opleiding leer je op een leuke professionele manier hoe een tafel te dekken voor elke gelegenheid, hoe je gasten moet bedienen, en wat de basis is om in de bediening te werken.
                    </p>
                    <p>
                        De opleiding bestaat uit volgende modules:
                    </p>
                    <ul>
                        <li>zaalvoorbereidingen</li>
                        <li>onthaal en bediening van klanten</li>
                        <li>basis drankenkennis en bardienst</li>
                        <li>hygiënisch onderhoud</li>
                    </ul>
                    <p>
                        We bieden je een voltijdse, korte opleiding met veel praktijk in het VDAB-oefenrestaurant, 4 weken stage en begeleiding naar vast werk. Zo'n kans laat je toch niet liggen!
                    </p>
                </div>

                <div class="col l6 m6 s12 inleiding">
                    <div class="right">
                        <img class="responsive-img" src="{{ asset('images/slider/vdab_banner/banner_rechts.jpg') }}" />
                    </div>
                    <div class="col s12 m12 l12">
                        <div class="right">
                            <h6>Opleidingen zaal:</h6>
                            <ul>
                                <li><a href="https://www.vdab.be/mijnvdab/opleidingen/opleidingen.jsp?context=MAIL&entryPoint=OpleidingInhoud&opleidingid=49512&doelgroep=2" target="_blank">Zaalmedewerker</a></li>
                                <li><a href="https://www.vdab.be/beroepen/hulpkelner.shtml" target="blank">Hulpkelner</a></li>
                                <li><a href="https://www.vdab.be/mijnvdab/opleidingen/opleidingen.jsp?context=MAIL&entryPoint=OpleidingInhoud&opleidingid=67121&doelgroep=2" target="_blank">Professionele zaaltechnieken</a></li>            
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="job-keuken">
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="title-box right licht-blauw">
                        <h3 id="proef-van-een-job"><span class="fw500" id="proef-span">Proef</span> van een job</h3>
                        <h3 id="in-de-keuken">in de keuken!</h3>
                    </div>
                </div>
                
            </div>

            <div class="row">
                <div class="col l6 m6 s12 inleiding">
                    <div class="left col s12 m12 l12">
                        <img class="responsive-img" src="{{ asset('images/slider/vdab_banner/banner_links.jpg') }}" />
                    </div>
                    <div class="left col s12 m12 l12">
                        <h6>Opleidingen keuken:</h6>
                        <ul>
                            <li><a href="https://www.vdab.be/opleidingen/keukenmedewerker.shtml" target="_blank">Keukenmedewerker</a></li>
                            <li><a href="https://www.vdab.be/opleidingen/hulpkok.shtml" target="_blank">Hulpkok</a></li>           
                        </ul>
                    </div>
                </div>
                <div class="col s12 m6 l6">
                    <p>
                        Is lekker eten klaarmaken jouw passie en wil je anderen laten meegenieten van jouw kookkunsten? Wil je elke dag professioneel met eten bezig zijn? Dan is de opleiding hulpkok zeker iets voor jou!
                    </p>
                    <p>
                        Tijdens deze opleiding zorgen we ervoor dat je je mannetje kan staan in de keuken.
                    </p>
                    <ul>
                        <li>We koken regelmatig een 3-gangen menu voor echte gasten.</li>
                        <li>We leren je snij- en basistechnieken aan.</li>
                        <li>We hebben heel wat aandacht voor hygiëne.</li>
                    </ul>
                    <p>
                        We bieden je een voltijdse opleiding van 4 à 6 maanden aan waarin een heel gamma voorgerechten, hoofdgerechten en desserts aan bod komen. Je doorloopt een stage van 4 weken en krijgt een begeleiding naar vast werk.
                    </p>
                </div>

                
            </div>
        </div>

        
        




        <div id="opleiding-videos"
            <div class="row">

                <div class="col s12 m4 l4">
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/KZOM_2uv71s" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <p>Opleiding hulpkelner</p>
                </div>

                <div class="col s12 m4 l4">
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/pkKUTzTojQg?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <p>Opleiding keukenmedewerker</p>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m4 l4">
                    <h6>Bekijk al onze opleidingsfilmpjes via <a href="http://vdabedutube.be/">deze link</a></h6>
                </div>
            </div>
        </div>
    </div>
{% endblock %}