{% extends "base.html.twig" %}

{% block body %}
    <nav class=' white'>
        <div class='white container'>
        <a href='index.php' class='brand-logo'><img src='images/vdab.png'></a>
        <ul class='right hide-on-med-and-down'>
                <li><a href='index.php'>Home</a></li>
                <li><a href='menu.php'>Menu kaart</a></li>
                <li><a href='nieuws.php'>Nieuws</a></li>
                <li><a href='opleidingen.php'>Opleidingen</a></li>
                <li><a href='contact.php'>Contact</a></li>
                <li><a href='reserveer.php'>Reserveer</a></li>
        </ul>  </div>  
    </nav>











{% endblock %}
