{% extends "base.html.twig" %}

{% block adminnav %}
    <nav class="nav-admin">
        <div class="nav-wrapper container">
            <ul class="right">
                <li>
                    <a class="black-text" href="{{ path('logout') }}">Logout</a>
                </li>
                <li>
                    <a class="black-text" href="{{ path('password') }}">Verander password</a>
                </li>
            </ul>
            <ul class="">
                <li>
                    <a class="black-text" href="{{ path('formules_index') }}">Formules</a>
                </li>
                <li>
                    <a class="black-text" href="{{ path('uren_index') }}">Openingsuren</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}