{% extends "base.html.twig" %}

{% block body %}
    <ul>
        <li>
            <a href="{{ path('logout') }}">Logout</a>
        </li>
        <li>
            <a href="{{ path('password') }}">Verander password</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{{ path('formules_index') }}">Formules</a>
        </li>
        <li>
            <a href="{{ path('uren_index') }}">Openingsuren</a>
        </li>
    </ul>
{% endblock %}
