{% extends "base.html.twig" %}

{% block title %}Administrator{% endblock %}

{% block body %}
    <div class="container admin-container">
        <div class="row">
            <div id="formulesadmin" class="col s12 m4">
                <a href="{{ path('formules_index') }}">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Menu</span>
                            <p>Hier kan u menuformules aanmaken en aanpassen.</p>
                        </div>
                        <div class="card-action">
                            Menu aanpassen
                        </div>
                    </div>
                </a>
            </div>
            <div id="urenadmin" class="col s12 m4">
                <a href="{{ path('uren_index') }}">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Openingsuren</span>
                            <p>Hier kan u nieuwsitems toevoegen en aanpassen.</p>
                        </div>
                        <div class="card-action">
                            Openingsuren aanpassen
                        </div>
                    </div>
                </a>
            </div>
            <div id="gangenadmin" class="col s12 m4">
                <a href="{{ path('menutype_index') }}">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Menugangen</span>
                            <p>Hier kan u menugangen toevoegen en aanpassen.</p>
                        </div>
                        <div class="card-action">
                            Menugangen aanpassen
                        </div>
                    </div>
                </a>
            </div>
            <div id="wachtwoord" class="col s12 m4">
                <a href="{{ path('password') }}">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Wachtwoord</span>
                            <p>Hier kan u uw wachtwoord veranderen.</p>
                        </div>
                        <div class="card-action">
                            Wachtwoord veranderen
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}