{% extends 'admin/admin.html.twig' %}

{% block title %}Nieuwe Menuformule{% endblock %}

{% block body %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s8 offset-s2">
                    <h2 class="center-align">Maak een nieuwe menuformule</h2>



                    {{ form_start(form) }}
                    {{ form_widget(form) }}

                    <div class="center-align">
                        <a class="waves-effect waves-light blue-grey darken-3 white-text btn"
                           href="{{ path('formules_index') }}">Terug</a>
                        <input class="waves-effect waves-light blue-grey darken-3 white-text btn"
                               type="submit" value="Aanmaken"/>
                        {{ form_end(form) }}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
