{% extends 'admin/admin.html.twig' %}
{% block title %}
    Verander password
{% endblock %}
{% block body %}
    <div class="container admin-container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Aanpassen" />
        {{ form_end(form) }}
    </div>
{% endblock  %}
