/********************
        GENERAL
********************/
html{
    font-weight: 300;
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;    
}
.container{
    width: 80%;
}
.beige{
    background-color: #bbb;
}
.licht-blauw{
    background-color: #0D8FD0;
}
.donker-blauw{
    background-color: #0B437A;
}

.fw500{
    font-weight: 500;
}
.fw400{
    font-weight: 400;
}
.fw300{
    font-weight: 300;
}
.fw200{
    font-weight: 200;
}
.bold{
    font-weight: bold;
}
@font-face{
    font-family: SSP;
    src: url(fonts/SourceSansPro-Regular.ttf);
}
*{
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 300;
}

h2{
    font-size: 2em;
}
h3{
    font-size: 1.5em;
}
h4{
    font-size: 1.4em;
}

.link a{
    color: #0D8FD0;
}

.hamburger{
    color: #aaa;
    font-size: 2em;    
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

/*********************
        HEADER
*********************/
#headertop{
    margin-bottom: -3em;   
}

.brand-logo{
    margin-top: -1em;
}

header nav{
    min-height: 6em;
    background-color: white;
    border-bottom: 1px solid #eee; 

}


header nav .nav-wrapper{
    margin-top: 3em;
}

header nav a{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 300;
    color: #0e0e0e;
}

nav ul li:hover:after{
    background-color: white;
}

.reserveerknop{
    margin-left: 4em;    
    font-weight: 400;
    opacity: 0.8;
}
.reserveerknop:hover{
    background-color: #0B437A;
}

/*********************
        HOME
*********************/
#nieuws{
    margin-top: 5em;
}

.card-content{
    margin-top: 1em;
}

.card .card-action a{
    color: black;
}
#responsive{
    height:50%;
}
#responsive img{
    height: 50%;
    width: 100%;
}
.bxslider img{
    margin:0 auto;
}
.bxslider li{
    margin-left: 1em;
}

/*********************
        MENU
*********************/

.menu-row .col:nth-child(2n+1){
    clear: left;
}

/*********************
        ADMIN
*********************/

.nav-admin ul{
    margin: 0.5em 0;
}

.nav-admin ul li{
    display: inline-block;
}

.nav-admin ul li a:hover{
    color: #0D8FD0 !important;    
}

.nav-admin ul li{
    margin-right: 1em; 
}

.nav-admin ul li:last-child{
    margin-right: 0;
}

.admin-container{
    margin-top: 2em;
}

.admin-container .card{
    padding: 0.5em;
}

.admin-container .card:hover .card-action{
    color: #ffab40;
    transition: color .3s ease;

}

.admin-container .card-content{
    color: black;
}

.admin-container .card-action{
    color: #26a69a;
    text-transform: uppercase;
}

.side-nav .admin-mobile-nav:last-child{
    margin-bottom: 3em;
}
.button{
    margin-top: 10px;
    width:50%;
    float: left;
}
#reservatie-info{
    width:80%;
}
.collection-item.active{
    background-color: white !important;
    color: black !important;
}
.center-align{
    margin-top: 1em;
}

/*********************
      OPLEIDINGEN
*********************/

.collection{
    border: none;
}

.collection .collection-item{
    border-bottom: none;
}

.card .card-content{
    padding: 0;
}
.card .card-action{
    padding: 0;
    margin-top: 0.6em;
    border: none;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating){
    color: #26a69a;
}

.video{
    margin-top: 1em;
}

.title-box{
    transform: skewX(-3deg);
}

.title-box h2{
    padding: 0.3em;
    font-weight: 400;
    margin-bottom: -1em;

}

.title-box h3{    
    text-align: center;
}

.title-box #krijg-de-smaak{
    color: white;
    width: 8em;
    padding-left: 0.7em;    
}
.title-box #te-pakken{
    color: #0B437A;
    margin-bottom: 1em;
    margin-left: 5em;
}

.title-box #proef{
    color: #0B437A;
    font-weight: 500;
    margin-bottom: -0.8em;
}
.title-box #van-een-job{
    color: #0D8FD0;
    font-weight: 300;
}

.title-box #proef-van-een-job{
    font-weight: 300;
    margin-bottom: -0.8em;
}
.title-box #in-de-keuken{
    font-weight: 300;
}
#inleiding h5{
    color: #0D8FD0;
}

#inleiding ul{
    margin-left: 2em;
}
#inleiding ul li{
    list-style: initial;
}

#job-zaal{
    margin-top: 2em;
}
#job-zaal ul{
    margin-left: 2em;
}
#job-zaal ul li{
    list-style: initial;
}

#job-keuken{
    margin-top: 5em;
}
#job-keuken .title-box{
    padding: 0.2em 2em 0.2em 2em;
    color: white;
}
#job-keuken ul{
    margin-left: 2em;
}
#job-keuken ul li{
    list-style: initial;
}
#proef-span{
    font-size: 1em;
}

#opleiding-videos{
    margin-top: 5em;
}
#opleiding-videos h6{
    color: #0D8FD0;
}

/*********************
         TEAM
*********************/
.teamlid_foto{
    max-width: 100px;
    max-height: 140px;
}

/*********************
        CONTACT
*********************/
#map{
    position:relative;
    padding-top: 100%;
    height:0;
    overflow: hidden;
    background-color: #CCC;
    margin-top: 1.5em;
}
#map iframe{
    position: absolute;
    top: 0;
    left:0;
    width: 100% !important;
    height:100% !important;
}
#contact-uren-list{
    line-height: 275%;
}

/*********************
        RESERVATIE
*********************/

label.error{
    color: red;
    margin-left: 0.5em;
}

li.current{
    background-color: #039be5;
}

li.current a{
    color: white;
}

.steps ul li, .actions ul li{
    display: inline;
    padding: 0.5em;
}
.disabled a{
    color: #D3D3D3;
}

.content .title{
    display: none;
}

.bevestiging-formules div.col{
    padding: 0px 5px;
}

#bevestig-btn{
    background-color: #0D8FD0;
}

.menutype-title{
    font-size: 2em;
    text-align: center;
    color: #0D8FD0;
}
/*********************
        FOOTER
*********************/
footer{
    margin-top: 6em;
}

footer .col{
    min-height: 8em;
}

footer #first{
    margin-top: 2em;
}
footer #third{
    padding-bottom: 1em;
}
footer ul{
    margin-top: 2em;
}
footer ul li{
    margin-bottom: 0.2em;
}
footer ul li{
    font-size: 0.9em;
    color: white;
}
footer ul li a{
    font-size: 1em;    
    color: white;
}

#uren-list{
    /*margin-top: 4em;*/
}

footer a .brand-logo{
    margin-top: 4em;
}

/*.footer_logo {
    width:150px;
    height:150px;
    margin-top: 25px;
    margin-left: 25px;
}*/
footer #top {
      
}

.footer_logo{
    margin-top: 5em;
}
.footer-copyright{
    margin-bottom: -1em;
}

.footer-copyright p{


}

.footer-copyright p{
    margin-bottom: 0;
}

/*********************
     MEDIAQUERIES
*********************/
@media screen and (min-width: 993px){
    .hamburger{
        display: none;
    }

}

@media screen and (max-width: 992px){
    /*header*/
    .reserveerknop{
        text-align: center;
        margin-left: -0.4em;
    }

    /*footer*/ 


    footer .col{
        margin-bottom: -2em;
    }

    footer #second{
       /* margin-bottom: -4em;*/
    }
}


@media screen and (max-width: 600px){
    .title-box #te-pakken{
        color: #0B437A;
        margin-bottom: 1em;
        margin-left: 2.5em;
    }
}
@media screen and (max-width: 360px) {
    #nav-mobile{
        padding:0 0.5px;
    }
    .reserveerknop{
        margin-left: 0;
    }
    #map{
        padding-top: 60%;
    }
}

@media screen and (max-width: 1050px) {
    /*header*/
    .reserveerknop{
        margin-left: 1em;
    }
    .button{
        float: none;
        width:100%;
    }
}
@media screen and (max-width: 550px) {
    #uren-list li a{
        font-size: 0.7em;
    }
    .button{
        float: none;
        width:100%;
    }
}
