<body>
	<div>
		<img style="" src="{{ asset('images/footer/vdab_wit.png') }}" />
		<h1 style="text-align: center">Bevestiging reservatie didactisch restaurant 't Seizoen</h1>
	</div>
	<div>
		<p style="width: 100%">In navolging van uw reservatieaanvraag worden volgende afspraken vastgelegd</p>
	</div>
	<table style="width:100%; border: 1px solid black;">
		<colgroup>
			<col span="2" style="border: 1px solid black">
		</colgroup>
		<tr>
			<th>Formules</th>
			<th>Praktische afspraken</th>
		</tr>
		<tr>
			<td>Broodjeslunch</td>
			<td>Datum van uitvoering:</td>
			<td>Gereserveerd door:</td>
		</tr>
	</table>
</body>

