<body>
	<div>
		<img style="" src="{{ asset('images/footer/vdab_wit.png') }}" />
		<h1>Bevestiging reservatie didactisch restaurant 't Seizoen</h1>
	</div>
	<div>
		<p style="width: 100%">In navolging van uw reservatieaanvraag worden volgende afspraken vastgelegd</p>
	</div>

	<table border="1" style="background-color:#FFFFFF;border-collapse:collapse;border:1px solid #000000;color:#000000;width:100%" cellpadding="3" cellspacing="3">
		<tr>
			<th>Formules</th>
			<th>Praktische afspraken</th>
		</tr>
		<tr>
			<td>
				Broodjeslunch à 6 euro p.p. </br>
				Broodjeslunch à 6 euro p.p. </br>
				Broodjeslunch à 6 euro p.p. </br>
				Broodjeslunch à 6 euro p.p. </br>
				Broodjeslunch à 6 euro p.p. </br>
				Broodjeslunch à 6 euro p.p. </br>
				Broodjeslunch à 6 euro p.p. </br>
				Broodjeslunch à 6 euro p.p. </br>
				Broodjeslunch à 6 euro p.p. </br>
				Broodjeslunch à 6 euro p.p. </br>
				Broodjeslunch à 6 euro p.p. </br>
				Broodjeslunch à 6 euro p.p. </br>
				Broodjeslunch à 6 euro p.p. </br>
				Broodjeslunch à 6 euro p.p. </br>
			</td>
			<td>
				Datum van uitvoering: 08/04/2016 </br>
				Gereserveerd door: </br>
				In opdracht van: </br>
				Aantal deelnemers: </br>
				</br>
				Aanvangsuur: </br>
				Einde: </br>
			</td>		
		</tr>
	</table>
	<table border="1" style="background-color:#FFFFFF;border-collapse:collapse;border:1px solid #000000;color:#000000;width:100%" cellpadding="3" cellspacing="3">
		<tr>
			<th>Datum</th>
			<th>Akkoord diensthoofd</th>
			<th>Totaal:</th>
		</tr>
	</table>
	<table border="1" style="background-color:#FFFFFF;border-collapse:collapse;border:1px solid #000000;color:#000000;width:100%" cellpadding="3" cellspacing="3">
		<tr>
			<td>
				Rekening: </br>
				Afdeling: </br>
				Product: </br>
				Project:
			</td>
		</tr>
	</table>

</body>

