{% extends "base.html.twig" %}

{% block body %}

<!-- HEADER -->

<!-- SLIDER -->



<div class="content container">
	<div class="row">
		<div class="col l6 m6 s12 class="inleiding" ">
			<h2>Menu</h2>
			<p>Lorem ipsum dolor sit amet, civibus mediocrem te mel, eam ei corpora senserit. An simul option per. Cu ius mollis vocent verterem, natum atqui constituto ad sit. Quo id quod labores placerat, per cu persius tibique. Graece quidam copiosae cum cu, mei scribentur philosophia ad. Eu minim nemore usu, invenire dissentias ius cu, quot erat atomorum id pri. Vis te posse quodsi maiestatis. Eum simul elitr cu. Pro no partem explicari.</p>
		</div>
	</div>

	<!-- MENU ITEMS -->
	<div class="row">
		<div class="col s12 m6 l6">
			<h3 class="center-align">Broodjeslunch</h3>
			<p class="center-align">
				Varia van belegde broodjes (eventueel te bespreken); frisdraken, koffie / thee
				Min. 10 personen
			</p>
			<p class="prijs center-align">&euro;6p.p.</p>
		</div>
		<div class="col s12 m6 l6">
			<h3 class="center-align">Lunch</h3>
			<p class="center-align">
				Eenvoudige dagschotel; water, wijn of andere consumptie, koffie/thee met zoetigheden
			</p>
			<p class="prijs center-align">&euro;7p.p.</p>
		</div>
		<div class="col s12 m6 l6">
			<h3 class="center-align">Lunch</h3>
			<p class="center-align">
				Soep; eenvoudige dagschotel; water, wijn of andere consumptie bij hoofdschotel; koffie/thee met zoetigheden
			</p>
			<p class="prijs center-align">&euro;9p.p.</p>
		</div>
		<div class="col s12 m6 l6 center-align">
			<h3>Lunch</h3>
			<p>
				Soep; Eenvoudige dagschotel; Dessert; water, wijn of andere consumptie bij hoofdschotel; koffie/thee met zoetigheden
			</p>
			<p class="prijs">&euro;12p.p.</p>
		</div>
		<div class="col s12 m6 l6 center-align">
			<h3>Lunch</h3>
			<p>
				Voorgerecht; Hoofdschotel; Dessert; water; wijnen tot het dessert; koffie/thee met zoetigheden
			</p>
			<p class="prijs">&euro;18p.p.</p>
		</div>
		<div class="col s12 m6 l6 center-align">
			<h3>Lunch</h3>
			<p>
				varia van koude, warme en zoete bereidingen; water en wijnen tot het dessert; koffie/thee met zoetigheden: min 30p
			</p>
			<p class="prijs">&euro;22p.p.</p>
		</div>
		<div class="col s12 m6 l6 center-align">
			<h3>Ontvangstkoffie</h3>
			<p>
				Koffie, thee, fruitsap met versnapering
			</p>
			<p class="prijs">&euro;3p.p.</p>
		</div>
		<div class="col s12 m6 l6 center-align">
			<h3>Aperitief met hapje</h3>			
			<p class="prijs">&euro;3p.p.</p>
		</div>
		<div class="col s12 m6 l6 center-align">
			<h3>Receptie</h3>
			<p>
				Varia van hapjes bij ontvangst; schuimwijn, witte en rode wijn, frisdranken en bieren; versierde hapjes koud en warm
			</p>
			<p class="prijs">&euro;10p.p.</p>
		</div>
	</div>

</div>


{% endblock %}


{% block javascripts %}{% endblock %}
