{% extends "base.html.twig" %}

{% block title %}De Menuformules{% endblock %}

{% block body %}

<!-- HEADER -->

<!-- SLIDER -->



<div class="content container">
	<div class="row">
		<div class="col l12 m12 s12 inleiding">
			<h2 class="center-align">Menu</h2>
			
		</div>
	</div>

	<!-- MENU ITEMS -->
	<div class="row menu-row">
		{% for menuformule in menuformules %}
		<div class="col s12 m6 l6 offset-l3 offset-m3">
			<h3 class="center-align">{{ menuformule.name }}</h3>
			<p class="center-align">{{ menuformule.info }} {% if menuformule.minPersons %} - Vanaf minimum {{ menuformule.minPersons }} personen.{% endif %}</p>
			<p class="prijs center-align">&euro; {{ menuformule.price }} per persoon.</p>
		</div>
		{% endfor %}

	</div>

</div>


{% endblock %}

