{% extends "base.html.twig" %}

{% block body %}

<!-- HEADER -->

<!-- SLIDER -->



<div class="content container">
	<div class="row">
		<div class="col l6 m6 s12 inleiding">
			<h2>Menu</h2>
			<p>Lorem ipsum dolor sit amet, civibus mediocrem te mel, eam ei corpora senserit. An simul option per. Cu ius mollis vocent verterem, natum atqui constituto ad sit. Quo id quod labores placerat, per cu persius tibique. Graece quidam copiosae cum cu, mei scribentur philosophia ad. Eu minim nemore usu, invenire dissentias ius cu, quot erat atomorum id pri. Vis te posse quodsi maiestatis. Eum simul elitr cu. Pro no partem explicari.</p>
		</div>
	</div>

	<!-- MENU ITEMS -->
	<div class="row">
		{% for menuformule in menuformules %}
		<div class="col s12 m6 l6">
			<h3 class="center-align">{{ menuformule.name }}</h3>
			<p class="center-align">{{ menuformule.info }} {% if menuformule.minPersons %} - Vanaf minimum {{ menuformule.minPersons }} personen.{% endif %}</p>
			<p class="prijs center-align">&euro; {{ menuformule.price }} per persoon.</p>
		</div>
		{% endfor %}

	</div>

</div>


{% endblock %}


{% block javascripts %}{% endblock %}
